{% extends "layout.html" %}
{% block title %}Publication Tree{% endblock %}
{% block page %}Publication Tree{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
    {% for node in root recursive %}
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">{{node.node.first_name}} {{node.node.last_name}}</div>
                <div class="collapsible-body">
                    {% for child in root.children %}
                        <ul class="collapsible">
                            <li>
                                <div class="collapsible-header">{{child.node.title}}</div>
                                <div class="collapsible-body">{{loop(child.node.children)}}</div>
                            </li>
                        </ul>
                    {% endfor %}
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}